
#cabeca{
    background-image: url(https://i.pinimg.com/originals/f9/4e/5b/f94e5bcc936d547c85f3a98f6db28343.jpg);height: 250px; width: 1900px;
}
#Elogo{
    
    margin: 10px 150px;
    padding: 50px 15px;
    display: flex;
     
}
img{
    opacity: 0.7;
}
#corpo{
    
    background-image: url();
    margin: 5px 100px;
}
.minicorpo{
    
    margin: 5px 150px;
    padding: 25px 10px;
}
h1{
    text-transform: uppercase;
}
h2{
    text-decoration: underline;
}

*{
    color: black;
}