*{
    color: rgba(255, 255, 255, 0.842);
}
body{
    background-color: rgba(27, 25, 25, 0.925);
    margin: 0;
}
section{
    margin: 10% 0;
}
#cabeca{
    background-color: rgb(26, 24, 24);
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#estrutura{
    margin: 0 15%;
}
#Elogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#consultora{
    margin: 0% 10vw;
    text-align-last: center;
}
#corpo2pg{
    display: flex;
    justify-content: space-between;
    margin: 0% 4%;
}
.minicorpo{
    font-size: large;
}
#minicorpo2 img{
    width: 25vw;
    height: auto;
}
#text{
    width:55%;
    font-size: large;
    margin-top: 7%;
}
h1{
    text-transform: uppercase;
}
footer{
    background-color: rgba(27, 25, 25, 0.925);
    display: flex;
    justify-content: center;
}
.contato{
    width: 16%;
    margin: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44 44 44);
    padding: 3% 6%;
    border-radius: 10%;
    text-align: center;
}
.contato img{
    width: 100%;
    height: auto;
}
.contato a{
    overflow-wrap:break-word;
    width: -webkit-fill-available;
}

