
#cabeca{
    background-image: url(https://mentorasconsultancy.com.br/imagem/aurorafaixa.webp);height: 250px; width: 1900px;
}
#Elogo{
    
    margin: 10px 35%;
    padding: 50px 15px;
    display: flex;
    
     
}

#estrutura{
    background-color: rgba(107, 104, 104, 0.822);
}
#corpo{
    
    
    margin: 5px 20%;
}
#corpo2pg{
    margin: 5px 19%;
    display: flex;
    
}
#cabeçario{
    
    margin: 0px 19.2%;
}

.minicorpo{
    padding: 25px 10px;
}
#minicorpo2{
    margin: 20px 4%;
    padding: 0% 13% 0% 0%;
    
}
h1{
    text-transform: uppercase;
}
#text{
    margin: 10% 2%;
}
img{
    border: rgb(180, 169, 4);
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
}
*{
    text-decoration: black;
}
@media only screen and (max-width:700px){
    
}